---
layout: archive
title: "People"
permalink: /people/
author_profile: false
---
<body>

{% include base_path %}

{% assign heads = site.people | where: "role", "head" %}
{% assign researchers = site.people | where: "role", "researcher" %}
{% assign phd = site.people | where: "role", "phd" %}
{% assign alumni = site.people | where: "role", "old" %}

<div>
    <h2> Head</h2>
    <div align="center" class ="image-gallery">
        <div class="box">
            {% for post in heads %}
            <a href="{{ post.permalink }}" style="width: auto">
                <img src="{{ post.stamped_image }}" alt="{{ post.title }}"  class="img-gallery" style="width:240px;border-radius:50%;margin:10px"/>
            </a>
            {% endfor %}
        </div>

    </div>

</div>

<h2> Researchers and PostDocs</h2>
<div class ="image-gallery">
    <div class="box">
        {% for post in researchers %}
        <a href="{{ post.permalink }}" style="display: inline-block;" >
            <img src="{{ post.stamped_image }}" alt="{{ post.title }}"  class="img-gallery" style="width:240px;border-radius:50%;margin:10px"/>
        </a>
        {% endfor %}
    </div>

</div>



<h2> PhD Candidates </h2>
<div class ="image-gallery">
    <div class="box">
        {% for post in phd %}
        <a href="{{ post.permalink }}" style="display: inline-block;" >
            <img src="{{ post.stamped_image }}" alt="{{ post.title }}"  class="img-gallery" style="width:240px;border-radius:50%;margin:10px"/>
        </a>
        {% endfor %}
    </div>
</div>


<h2> Previous Members </h2>
<p>
    {% for person in alumni %}
    {% if person.weburl %}
    <a href="{{ person.weburl }}">{{ person.title }}</a>
    {% else %}
    {{ person.title }}
    {% endif %}

    {% endfor %}
</p>
