---
layout: archive
title: "People"
permalink: /people/
author_profile: false
---
{% include base_path %}

{% assign heads = site.people | where: "role", "head" %}
{% assign researchers = site.people | where: "role", "researcher" %}
{% assign phd = site.people | where: "role", "phd" %}

<h2> Head </h2>
{% for head in heads %}
{% include archive-single-people.html %}
{% endfor %}

<h2> Researcher </h2>
{% for researcher in researchers %}
{% include archive-single-people.html %}
{% endfor %}

<h2> PhD Candidate </h2>
{% for candidate in phd %}
{% include archive-single-people.html %}
{% endfor %}
