{% include base_path %}

{% if post.header.teaser %}
{% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
{% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
<ul>
  <li>
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <p>
        {{ post.author }},
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>,
        {% if post.avenue %}
        <em> {{ post.avenue | escape }}</em>,
        {% endif %}
        {% if post.volume %}
        {% if post.number %}
        {{ post.volume }} ({{ post.number }}),
        {% else %}
        {{ post.volume }},
        {% endif %}

        {% endif %}
        {% if post.pages %}
        {{ post.pages }},
        {% endif %}
        {{ post.year }}.

        {% if post.doi %}
        <a href="{{ post.doi }}"> [DOI] </a>
        {% endif %}
        {% if post.file %}
        <a href="{{ post.file }}"> [PDF] </a>
        {% endif %}
        {% if post.video %}
        <a href="{{ post.video }}"> [Video] </a>
        {% endif %}
        {% if post.code %}
        <a href="{{ post.code }}"> [Code] </a>
        {% endif %}
        {% if post.website %}
        <a href="{{ post.website }}"> [Website] </a>
        {% endif %}
      </p>
    </article>
  </li>

</ul>
</div>